.course-path-quiz {
  margin-top: 2.9rem;
  padding-left: 10px;
}

.timer {
  width: 80%;
  border: solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2.3rem 1rem;
  border-radius: 18px;
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.3);
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  position: relative;
  left: 8%;
  gap: 2px;
  border-color: rgba(157, 157, 157, 0.79);
}
@keyframes delete {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.started span {
  color: #2699fb;
  margin-left: 2px;
}
.remaining span {
  color: #a70000;
  margin-left: 2px;
}
.quiz-page {
  display: flex;
  margin-top: 2.4rem;
}
.quiz-question-container {
  width: 60%;
  height: fit-content;
  position: relative;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem 0.3rem;
  margin-bottom: 3rem;
}
.quiz-question {
  width: 100%;
  border: solid;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.3);
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  padding-bottom: 1rem;
  margin-top: 1.7rem;
  border-color: rgba(157, 157, 157, 0.775);
}
.question-number {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 45px;
  position: relative;
  border-bottom: 1px solid rgba(109, 109, 109, 0.767);
}
.question-number h3 {
  position: absolute;
  right: 3%;
}
.question-number h2 {
  position: absolute;
  left: 3%;
}
.question {
  width: 95%;
  margin: 1.1rem 1.1rem;
  border-bottom: solid;
  padding-bottom: 1.1rem;
  border-width: 0.1px;
  font-weight: 500;
}
.mcq-answers {
  width: 100%;
}
.mcq-answers ul {
  list-style-type: none;
  padding: 0;
  padding-top: 2px;
  position: relative;
  bottom: 5px;
}
.mcq-answers ul li {
  margin: 5px 0;
  margin-left: 2rem;
}
.mcq-answers ul li label {
  cursor: pointer;
  display: flex;
}
.correct-false {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px !important;
}
.correct-false img {
  width: 18px;
}
.mcq-answers label {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.mcq-answers input {
  margin-right: 18px;
}
.answer-quick-accses-container {
  width: 20rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.3);
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  position: sticky;
  top: 15%;
  padding: 20px 20px;
  margin-top: 0.5rem;
  margin-left: 9rem;
  border-color: rgba(157, 157, 157, 0.853);
  animation: moveToRight 0.8s ease-in-out;
  transform: translateX(0px);
}
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(66px);
  }
  100% {
    opacity: 1;
  }
}
.answer-quick-accses-container h2 {
  margin-top: 10px;
}
.questions-selector-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.remaining-time span {
  margin-left: 7px;
}

.questions-selector {
  width: 18%;
  height: 50px;
  border: solid 1px rgba(86, 86, 86, 0.941);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.questions-selector a {
  text-decoration: none;
  color: black;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  height: 50%;
  width: 100%;
}
.number h3 {
  font-size: 1rem;
}
.check-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  border-top: 1px solid gray;
  height: 50%;
  width: 100%;
}
.check-marked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 10px 5px;
  height: 50%;
  width: 100%;
}
.check-mark img {
  width: 14px;
}
.finish {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.finish button {
  font-size: 1rem;
  padding: 9px 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1px;
  color: white;
  font-weight: 500;
  border-color: rgba(157, 157, 157, 0.462);
  background-color: #1492e6;
  cursor: pointer;
  display: inline-block;

  color: white;
  background-image: linear-gradient(
    to right,
    #4481eb 50%,
    #4481eb 50%,
    #04befe
  );
  background-position: 0%;
  background-size: 200%;
  transition: 0.4s;
}
.quiz-summary-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.2rem;
  padding: 0.8rem;
  gap: 8px;
}
.summary-header {
  width: 85%;
  animation: delete 0.3s ease-in-out 0s;
}
.summary-header h1 {
  color: grey;
  font-weight: 600;
}
.summary-table {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 4px;
  border-top: 3px solid gray;
  animation: delete 0.5s ease-in-out 0s;
}
.summary-table table {
  width: 100%;
  margin-top: 1rem;
  padding: 5px;
}
.summary-table table td {
  border-top: 1px solid rgb(190, 190, 190);
}
.table-border-left {
  border-left: 1px solid rgb(190, 190, 190);
}
.summary-table td {
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}
.summary-table td a {
  font-weight: 500;
  color: #1492e6;
  transition: color 0.15s ease-in;
}
.summary-table td a:hover {
  color: #033c82;
}
.summary-table th {
  padding: 1rem;
  font-size: 1.4rem;
}
.td-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.td-flex span {
  font-size: 1.2rem !important;
}
.summary-grade {
  margin-top: 9px;
  animation: delete 0.7s ease-in-out 0s;
}
.summary-grade h1 {
  color: rgb(53, 53, 53);
  font-weight: 700;
}
.summary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  gap: 1rem;
}
.summary-button button {
  font-size: 1.1rem;
  padding: 7px 1.1rem;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(157, 157, 157, 0.462);
  color: white;
  font-weight: 500;
  background-color: #1492e6;
  cursor: pointer;
  display: inline-block;

  color: white;
  background-image: linear-gradient(
    to right,
    #4481eb 50%,
    #4481eb 50%,
    #04befe
  );
  background-position: 0%;
  background-size: 200%;
  transition: 0.4s;
}
button:hover {
  background-position: 99% 0%;
}
.correct-answer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
}

.correct-answer h4 {
}
.half-time {
  width: 30rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.3);
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  position: sticky;
  top: 15%;
  padding: 20px 20px;
  margin-top: 1.5rem;
  margin-left: 27.5rem;
  z-index: 10;
  text-transform: capitalize;
  animation: delete 0.5s ease-in-out 0s;
  border-color: rgba(157, 157, 157, 0.712);
}
.close-half {
  position: absolute;
  width: 100%;
  height: 100%;
}
.close-half i {
  font-size: 1.7rem;
  position: absolute;
  right: 5%;
  top: 12%;
  color: black;
  cursor: pointer;
}
.quiz-review-info-continer {
  width: 80%;
  border: solid;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2.5rem 1rem 1.8rem 1rem;
  border-radius: 18px;
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.3);
  appearance: none;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  position: relative;
  left: 8%;
  border-color: rgba(157, 157, 157, 0.79);
  padding: 13px;
  animation: delete 0.5s ease-in-out 0s;
}
.quiz-review-info {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 100%;
}
.quiz-review-info div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5px;
  position: relative;
  left: 5%;
}
.quiz-review-info h3 {
  width: 20%;
}
.loader-margin {
  margin-top: 5rem;
}
